body{
    background: radial-gradient(white, black);
    height: 100vh;
}

p.header{
    text-align: center;
    font-size: 50px;
    background-color: #ffffff;
    opacity: 0.7;
}

img.izquierda{
    float: left;
    height: 105px;
    margin-left: 10%;
}

img.derecha{
    float: right;
    height: 105px;
    margin-right: 10%;
}

p{
    color: black;
    font-size: 20px;
    text-align: center;
}

img{
    height: 180px;
    margin: 0 50px;
}

p.entrenadores{
    text-align: center;
}

p.gatuso{
    text-align: left;
    margin-left: 38.75%;
}

p.segundo{
    text-align: left;
    position: relative;
    margin-left: 60%;
    top: -42px;
}

img:hover{
    transform: scale(110%);
}

