body{
    background: linear-gradient(white, black);
    height: 100vh;
}

header{
    font-size: 50px;
    text-align: center;
}

nav{
    text-align: center;
    font-size: 17px;
}

p.competicion{
    text-align: center;
}

table.proximo{
    margin-left: 43%;
}

table.ultimos{
    margin-left: 39.5%;
}

a{
    color: black;
    margin: 0 15px;
}

section{
    text-align: center;
}

