body{
    background: linear-gradient(white, black);
    height: 100vh;
}

header{
    font-size: 50px;
    text-align: center;
}

nav{
    text-align: center;
    font-size: 17px;
}

a{
    color: black;
    margin: 0 15px;
}

section{
    text-align: center;
}

td{
    text-align: center;
}